RewriteEngine on
RewriteRule !\.(js|ico|gif|jpg|png|css)$ index.php

<IfModule mod_deflate.c>
  <FilesMatch "\.(css|js|x?html?|php)$">
    SetOutputFilter DEFLATE
  </FilesMatch>
</IfModule>

<FilesMatch "\.(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$" >
Header set Cache-Control "max-age=290304000, public"
</FilesMatch>