/* Reset */

* {
	padding: 0;
	margin: 0;
}

/* Mods */

body {
	font-family: Arial,Helvetica,sans-serif;
	color: black;
	font-size: 11px;
	font-weight: 0;
}

input, textarea { font-family: Verdana, "MS Trebuchet", sans-serif; font-size: 12px; }
.text { width:100%; margin:5px 0 0; padding:2px; }

a { color:black; }

h2 {
	margin: 0 0 10px;
	font-size: 18px
}

p,
span.p {
	display:block;
	text-align: justify;
	margin: 0 0 10px;
}

ul { list-style:none }

img { border: 0; }

/* General */

.right { float:right }
.left { float:left }
.center { text-align:center }
.half { width:50% }
.full { clear:both; width:100% }

.hide {
	display: none;
}

.gray {
	color: gray;
}

.red {
	color: red;
}

.uppercase {
	text-transform: uppercase;
}

.big {
	font-size: 16px
}

.italic {
	font-style: italic;
}

.element {
	margin-bottom: 15px;
	float: left;
}

.picture {margin-bottom: 10px;}

.date { font-size:11px; color:#777 }

div.paragraph { margin:0 0 25px }

/* Layout */
#site {
	float: left;
	width: 100%;
}

/* Header */
#header {
	float: left;
	width: 100%;
}

#mainlogo {
	margin: 20px 0 12px 24px;
}

/* Navigation */

#navigation {
	background: #41525C;
	padding: 4px 0 5px 0;
	width: 100%;
	float: left;
}

#navigation ul li {
	display: inline;
	margin-right: 40px;
}

#navigation ul li.first { margin:0; }

#navigation ul li.second {
	margin: 0 93px 0 0;
}

#navigation ul li.last {
	margin-right: 0;
}

#navigation ul li a {
	color: white;
	text-decoration: none;
}

#navigation ul li a:hover {
	color: #E7E5D0;
}

#navigation li.first a {
	display: block;
	float: left;
	width: 15px;
	height: 13px;
	background: url(../../public/images/houseico.png) no-repeat top left;
	margin: 2px 12px 0 9px;
}

/* Content */
#content {
	float: left;
	width: 100%;
	overflow:hidden;
	padding:0 0 10px
}

/* Main column */
#main {
	margin: 10px 10px 0 10px;
	float: left;
	width: 690px;
}

#main h3,
#main span.h3 {
	display:block;
	font-weight:bold;
	margin:0 0 5px;
	font-size:14px;
}

#main h4,
#main span.h4 {
	display:block;
	font-weight:bold;
	margin:5px 0;
	font-size:12px;
}

.halfMain {
	float: left;
	width: 325px;
	margin: 0 10px 10px 10px;
}

.contact {
	border: 3px black solid;
	margin-bottom: 10px;
	padding: 8px;
	font-size: 20px;
	font-weight: bold;
}

.contact a {
	text-decoration: none;
	color: black;
}

.bigPicture {
	margin-bottom: 10px;
}

/* Additional column */
#additional {
	float: left;
	width: 130px;
	margin:0 0 -10000px;
	padding:0 0 10000px;
	ovreflow:hidden;
	background: #E51837;
	color: white;
}

#additional .topBlock{
	min-height:250px;
	margin-top: 18px;
}

* html #additional .topBlock {
	height:268px;
}

#additional .news {
	margin-top: 10px;
}

#additional p {
	margin-bottom: 10px;
	border-bottom: 1px #D6D6D6 dashed;
	padding: 0 8px 10px 8px;
}

#additional h3 {
	margin-left: 8px;
	font-weight: 0;
	font-size:14px;
	color: #2D414A;
}

#additional p h3 {
	color: #2D414A;
	font-size: 14px;
}

/* Footer */

#footer {
	background: #2D414A;
	padding: 7px 0 6px 0;
	float: left;
	width: 100%;
	color:white;
	text-align:center
}

#footer ul {
	float:right	
}
	
#footer ul li {
	display: inline;
	margin-right: 15px;
}

#footer ul li a {
	color: white;
	text-decoration: none;
}

#footer ul li a:hover {
	color: #FC0026;
}

ul.news span { width:auto }
ul.news .p { margin:0 }
ul.news li { margin:0 0 10px }
ul.news .date { display:block; margin:0 0 5px; }
ul.news a { text-decoration:none }
ul.news a:hover { text-decoration:none }
ul.news a:hover span.h3 { text-decoration:underline }
ul.news p a:hover { text-decoration:underline }

.zespol .element img {
	margin-right: 10px;
}

.zespol h3 {
	color: gray;
}

.naszePrace .praca { padding:10px 0 }
.naszePrace .praca ul { padding:0 0 0 20px; list-style-type:square }
.naszePrace a { text-decoration:none }

.article .date { }

p.back a { text-decoration:none }
p.back a:hover { text-decoration:underline }